@model IEnumerable<ExpenseTrackerSystem.Models.User>

@{
    ViewBag.Title = "Index";
}
@*<link href="~/Content/Site.css" rel="stylesheet" />*@
<div class="UserContainer">
    <h2>All Users Data</h2>
    <p class="alert-warning text-white-50 p-2">This page is accessible only for ADMIN. Admin can add new user, edit data as requested by the user and also can delete any user record.</p>

    <p>
        @Html.ActionLink("Create New", "CreateUser")
    </p>
    <table class="table table-dark tblUser">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastLogin)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastLogin)
                </td>
                <td>
                    <a href="@Url.Action("CreateUser","User", new { id = item.Id })"><i class="fa fa-pencil fa-lg"></i></a>
                    <a href="@Url.Action("CreateUser","User", new { id = item.Id })"><i class="fa fa-eye fa-lg"></i></a>
                    <a href="@Url.Action("CreateUser","User", new { id = item.Id })"><i class="fa fa-trash fa-lg"></i></a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" })*@
                    @*@Html.ActionLink("Details", "GetUserById", new { id = item.Id }, new { @class = "fa fa-info" })*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "fa fa-trash" })*@
                </td>
            </tr>
        }

    </table>
</div>